# Node modules
node_modules/

# Env file
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Coverage directory used by testing tools
coverage/

# Optional npm cache directory
.npm/

# Debugger settings
*.local

# Build output
dist/
